# Importing necessary libraries

In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [9]:
import re
from bs4 import BeautifulSoup

# Data loading

In [6]:
df1 = pd.read_csv('Resume.csv')
df1.sample(5)

,ID,Resume_str,Resume_html,Category
128,12415691,INFORMATION DESIGNER Summary of...,"<div class=""fontsize fontface vmargins hmargin...",DESIGNER
1331,11257723,GENERAL LIABILITY CLAIM REPRESENTATIV...,"<div class=""fontsize fontface vmargins hmargin...",AUTOMOBILE
1613,12669075,BRANCH ADMINISTRATOR Object...,"<div class=""fontsize fontface vmargins hmargin...",APPAREL
1084,17704246,SALES ASSOCIATE Summary Exp...,"<div class=""fontsize fontface vmargins hmargin...",SALES
1506,57088974,FINANCE MANAGER Summary ...,"<div class=""fontsize fontface vmargins hmargin...",FINANCE

In [13]:
df1.nunique()

ID             2484
Resume_str     2482
Resume_html    2482
Category         24
dtype: int64

In [4]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2484 entries, 0 to 2483
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           2484 non-null   int64
 1   Resume_str   2484 non-null   object
 2   Resume_html  2484 non-null   object
 3   Category     2484 non-null   object
dtypes: int64(1), object(3)
memory usage: 77.8+ KB

In [7]:
df2 = pd.read_csv('UpdatedResumeDataSet.csv')
df2.sample(5)

               Category                                             Resume
306      Civil Engineer  PERSONAL SKILLS â¢ Passionate towards learnin...
749              Hadoop  Education Details \r\n\r\nHadoop Developer \r\...
100            Advocate  Skills: Natural Languages: Proficient in Engli...
464  Automation Testing  SKILLS Agile Methodology Scrum, Kanban, Extrem...
8          Data Science  Personal Skills â¢ Ability to quickly grasp t...

In [8]:
df2.head()

       Category                                             Resume
0  Data Science  Skills * Programming Languages: Python (pandas...
1  Data Science  Education Details \r\nMay 2013 to May 2017 B.E...
2  Data Science  Areas of Interest Deep Learning, Control Syste...
3  Data Science  Skills â¢ R â¢ Python â¢ SAP HANA â¢ Table...
4  Data Science  Education Details \r\n MCA   YMCAUST,  Faridab...

# df1 operations

In [10]:
def clean_resume_text(text):
    # Remove extra whitespace, special characters
    text = re.sub(r'\s+', ' ', text).strip()
    return text

resume_text = clean_resume_text(df1['Resume_str'][0])

In [11]:
def extract_sections(html):
    soup = BeautifulSoup(html, 'html.parser')
    sections = {}
    for section in soup.find_all(class_='section'):
        title = section.find(class_='sectiontitle').text if section.find(class_='sectiontitle') else 'Untitled'
        content = section.get_text(separator=' ', strip=True)
        sections[title] = content
    return sections

resume_sections = extract_sections(df1['Resume_html'][0])

In [15]:
df1['Category'].value_counts()

Category
INFORMATION-TECHNOLOGY    120
BUSINESS-DEVELOPMENT      120
ADVOCATE                  118
CHEF                      118
ENGINEERING               118
ACCOUNTANT                118
FINANCE                   118
FITNESS                   117
AVIATION                  117
SALES                     116
BANKING                   115
HEALTHCARE                115
CONSULTANT                115
CONSTRUCTION              112
PUBLIC-RELATIONS          111
HR                        110
DESIGNER                  107
ARTS                      103
TEACHER                   102
APPAREL                    97
DIGITAL-MEDIA              96
AGRICULTURE                63
AUTOMOBILE                 36
BPO                        22
Name: count, dtype: int64